@model IEnumerable<CapaEntidades.Cliente>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Lista de Clientes</h5>
            <br />
           <a href="@Url.Action("Insertar","Cliente")" <a style="color:white" class="btn btn-success" btn-lg"><i class="feather icon-check-circle"></i>Registar Cliente</a>
            </div>
            <div class="card-body table-border-style">
                <div class="table-responsive">
                    <table class="table table-inverse">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Direccion</th>
                                <th>Celular</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idCliente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombres)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.apellidos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.direccion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.celular)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>





